<navbar-recipe></navbar-recipe>

<div class="container  mt-5">
    <h1>Whats a new?</h1>
    <div id="accordion">
        <div class="card" ng-repeat="recipe in recipes">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    
                        <h3>{{recipe.name}}</h3>
                    </button>

                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">

                        <label class="btn btn-info">
                            <input type="radio" name="options" autocomplete="off"> Info
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" name="options" id="option3" autocomplete="off">Importmant
                        </label>

                        <button type="button" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-info float-right"  ng-click="deleteRow($index)"><i class="far fa-trash-alt"></i></button>
                    </div>
                    <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                    <!-- <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </h5>
            </div>

            <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" class="card-text" class="collapse show" >
                    <img  class="rounded float-left"  ng-src="{{recipe.imgUrl}}" >
                    {{recipe.description}}
                </div>

            </div>
        </div>



        <!-- <div class="row">
            <div class="col-sm-6 col-md-4 my-2" ng-repeat="recipe in recipes">
                <div class="card recipe">
                    <img class="card-img-top" ng-src="{{recipe.imgUrl}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{recipe.name}}</h4>
                        <p class="card-text">{{recipe.description}}</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>