<navbar-recipe></navbar-recipe>

<div id="contacts">
    <div class=" card container  mt-5">
        <h4 class="card-title text-center mt-4">Resident list:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th class="sort" data-sort="name" scope="col">#</th>
                    <th scope="col">First1</th>
                    <th></th>
                    <th></th>
                    <th scope="col">Last</th>
                    <th></th>
                    <th scope="col">Apartment</th>
                    <th></th>
                    <th></th>
                    <th scope="col">Handle</th>
                    <th></th>
                    <th colspan="2">
                        <input type="text" class="search" placeholder="Search tenants" />
                    </th>
                </tr>
            </thead>
            <tbody class="list">
                <tr ng-repeat="row in tenants track by $index ">
                    <td>{{row.id}}</td>
                    <td>{{row.fname}}</td>
                    <td>{{row.lname}}</td>
                    <td>{{row.apr}}</td>
                    <td>{{row.ml}}</td>
                    <td><button class="btn btn-info float-right" ng-click="deleteRow($index)"><i class="far fa-trash-alt"></button></td>
                    <!-- <td class="add">
                            <button id="add-btn" ng-click="deleteRow($index)">Delete</button>
                            <button id="edit-btn" ng-click="editRow($index)">Edit</button>
                        </td> -->
                </tr>
            </tbody>

        </table>
        <button type="button" onclick="closeWin()" class="close" id="cancel_edit" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <table class="mb-4">
            <td class="name">
                <input type="hidden" id="id-field" />
                <input type="text" id="fname-field" placeholder="First name" />
            </td>
            <td>
                <input type="text" id="lname-field" placeholder="Last name" />
            </td>
            <td class="apr">
                <input type="text" id="apr-field" placeholder="Appartment" />
            </td>
            <td class="ml">
                <input type="text" id="ml-field" placeholder="Mail" />
            </td>
            <td class="add">
                <button id="add-btn">Add</button>
                <button id="edit-btn">Edit</button>
            </td>
        </table>
    </div>
</div>